@tailwind base;
@tailwind components;
@tailwind utilities;

/* font css start */
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-ThinItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* font css end */

/* global css start */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
  background-color: #010510;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

body::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1c37e8 0%, #2898ff 100%);
  outline: none;
  border-radius: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 90%;
}

h1 span,
h2 span {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1260px;
  }
}

/* global css end */
