@tailwind base;
@tailwind components;
@tailwind utilities;

/* font css start */
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-ThinItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"),
    url("./assets/fonts/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* font css end */

/* global css start */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
  background-color: #010510;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

body::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1c37e8 0%, #2898ff 100%);
  outline: none;
  border-radius: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 90%;
}

h1 .main-heading-span,
h2 span {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Typewriter__cursor {
  display: none;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1260px;
  }
}

/* global css end */

/* header css start */
.nav-list a {
	position: relative;
	overflow: hidden;
	display: block;
	text-align: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	padding: 0;
  color: #fff;
  opacity: 0.8;
}

.nav-list a .item1 {
	display: block;
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-list .item2 {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: inline;
	text-align: center;
	-webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0.8;
}

.nav-list a:hover {
	color: #fff;
  opacity: 1;
}

.nav-list a:hover .item1 {
	color: #fff;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
  opacity: 1;
}

.nav-list a:hover .item2 {
	top: 0;
  opacity: 1;
}

.nav-list a:active {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}
/* header css end */

/* button css start */
a.btn {
  overflow: hidden;
  position: relative;
}
a.btn span {
  transition: 0.8s;
}
a.btn::before,
a.btn::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #1972F5;
  top: 50%; 
  border-radius: 50%;
  z-index: -1;
}
a.btn.blue::before,
a.btn.blue::after {
  background: #fff;
}
a.btn.tab::before,
a.btn.tab::after {
  background: linear-gradient(90deg, #1C37E8 0%, #69F0F0 34.77%, #2898FF 64.53%, #E990FF 100%);

}

a.btn::before {
  transform: translate(-50%, -50%);
  left: -20px;
}

a.btn::after {
  transform: translate(50%, -50%);
  right: -20px;
}

a.btn:hover::before,
a.btn.active::before {
  animation: move-left 0.8s both;
  animation-direction: alternate;
  z-index: 1;
}
a.btn:hover::after,
a.btn.active::after {
  animation: move-right 0.8s both;
  animation-direction: alternate;
  z-index: 1;
}

a.btn:hover {
  color: #fff;
}
a.btn.blue:hover {
  color: #1972F5;
}
@keyframes move-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    height: 400px;
    width: 400px;
  }
}

@keyframes move-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    height: 400px;
    width: 400px;
  }
}

/* button css end */
